<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Project 4</title>
    </head>

    <body>

        <header>
            <div class="header">
                Evaluate a News Article with Natural Language Processing
            </div>
        </header>

        <main>
            <section>
                <form id="urlForm">
                    <input id="url" type="text" name="url" placeholder="Enter URL" required>
                    <button id="submitButton" type="submit" onclick="return Client.handleSubmit(event)">Submit</button>
                </form>
                
            </section>

            <section>
                <div class="result">
                    <strong>Form Results:</strong>
                    <div id="agreement"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                    <div id="score"></div>
                    <div id="subjectivity"></div>
                </div>
            </section>
        </main>

        <footer>
            <em> ©2024</em><br>
            <em>Evaluate a News Article with Natural Language Processing Design By HoangNM52@fpt.com</em>
        </footer>

    </body>
</html>
