footer {
    text-align: center;    
    font-style: italic;
    font-weight: bolder;
    font-size: x-large;
    background-image: linear-gradient(to right bottom, #4967ef, #79c14d);
    color: #00ffff;
    padding: 15px;
}