.header {
    display: block;
    justify-content: space-between;
    padding: 15px 40px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #00ffff;
    background-image: linear-gradient(to right bottom, #4967ef, #79c14d);
}
